---
import Container from "./Container.astro"
---


<div id="features">
  <Container>
    <div
      class="grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/images/home/rocket.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >              
              Inicio Rápido
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              CodeDesignPlus incluye plantillas y configuraciones listas para usar. Desarrolla microservicios, APIs web o integraciones; el SDK tiene todo lo que necesitas.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/images/home/microservice.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Arquitectura de Élite
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Integra patrones de diseño reconocidos en la industria que te permiten crear aplicaciones modulares, flexibles y fáciles de escalar.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/images/home/settings.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Kit de Desarrollo
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Desde abstracciones comunes hasta componentes para configuración, dependencias y seguridad. El SDK te da un conjunto de herramientas para que te enfoques en lo esencial.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="/images/home/system-integration.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Listo para Producción
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Ideal para escenarios empresariales complejos. El SDK es compatible con soluciones de misión crítica, gestionando autenticación, registro y monitorización.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>


<style>
  #features {
    animation: fadeInUp 0.7s ease-in-out forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
