---
import Container from "./Container.astro"
---


<div id="features">
  <Container>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/public/images/home/rocket.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >              
              Facilidad para comenzar
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              CodeDesignPlus.Net SDK incluye plantillas y configuraciones predefinidas para ayudarte a configurar proyectos rápidamente. Ya sea que desarrolles microservicios, aplicaciones web o integraciones, este SDK tiene lo que necesitas.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/public/images/home/microservice.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Patrones modernos
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Integra patrones de diseño ampliamente reconocidos en la industria que te permitirán crear aplicaciones modulares, flexibles y fáciles de escalar.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="/public/images/home/settings.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Herramientas y utilidades
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Desde abstracciones comunes hasta componentes específicos para manejo de configuraciones, dependencias y seguridad, el SDK ofrece un conjunto completo de herramientas que te facilitan enfocarte en el desarrollo de las características clave de tu aplicación.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="/public/images/home/system-integration.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Múltiples escenarios
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Ideal para escenarios empresariales complejos, el SDK es compatible con la implementación de soluciones de misión crítica, gestionando aspectos como autenticación, autorización, registro y monitorización de servicios.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>




