---
import Container from "./Container.astro";
---

<div class="relative" id="home">
    <div
        aria-hidden="true"
        class="absolute inset-0 overflow-hidden"
    >
        <img
            src="/images/background.webp"
            class="absolute left-1/2 top-0 -translate-x-1/2 h-full w-full object-cover object-center opacity-20 dark:opacity-10"
            alt="Imagen de Fondo"
            loading="lazy"
        />
        <div class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
            <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
            <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
        </div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 text-balance dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl opacity-0 translate-y-4 hero-title transition duration-500 delay-200">
                  Transforma tus ideas en código de manera eficiente y profesional con CodeDesignPlus.
                </h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300 opacity-0 hero-text transition duration-500 delay-300">
                  CodeDesignPlus.Net SDK es un conjunto completo de herramientas y bibliotecas diseñadas para acelerar el desarrollo de soluciones empresariales modernas y escalables en el ecosistema .NET. Permite a los desarrolladores crear aplicaciones robustas, modulares y mantenibles aprovechando las mejores prácticas y patrones de diseño probados.
                </p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6 opacity-0 hero-buttons transition duration-500 delay-400">
                    <a
                      href="/libs/introduction"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Explora el SDK</span
                      >
                    </a>
                    <a
                      href="/archetypes"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Descubre los Arquetipos</span
                      >
                    </a>
                       <a
                      href="/generators/"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Usa nuestros Generadores</span
                      >
                    </a>
                </div>
               <div class="py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-around">
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Arquitectura Limpia y Escalable</h6>
                        <p class="mt-2 text-gray-500">Implementa patrones de diseño como DDD, arquitectura hexagonal y CQRS para garantizar la modularidad y la escalabilidad.</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Componentes Reutilizables</h6>
                         <p class="mt-2 text-gray-500">Utiliza una gran variedad de abstracciones, herramientas y utilidades que puedes reutilizar en tus proyectos.</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Herramientas de Desarrollo</h6>
                        <p class="mt-2 text-gray-500">Integra herramientas para pruebas, configuraciones y generación de código, agilizando el desarrollo y la validación.</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 items-center justify-center">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="Logo de Microsoft" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                  <img src="./images/tecnologies/csharp.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="C-Sharp" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0 items-center justify-center">
                  <img src="./images/tecnologies/nuget.svg" class="h-9 w-auto m-auto" loading="lazy" alt="Nuget" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/vscode.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="VSCode" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/rabbitmq.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="RabbitMQ" width="" height="" />
                </div>                
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                  <img src="./images/tecnologies/mongo.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="Mongo" width="" height="" />
              </div>
            </div>
        </div>
    </Container>
</div>

<style>
    .hero-title {
        animation: fadeInUp 0.7s ease-in-out forwards;
    }
    .hero-text {
       animation: fadeInUp 0.7s ease-in-out 0.3s forwards;
    }
     .hero-buttons {
      animation: fadeInUp 0.7s ease-in-out 0.5s forwards;
    }

      @keyframes fadeInUp {
          from {
                opacity: 0;
                transform: translateY(30px);
             }
          to {
                opacity: 1;
                transform: translateY(0px);
             }
        }
</style>