---
import Container from "./Container.astro"
---


<div id="images">
  <Container>
     <div class="relative ml-auto">            
            <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 items-center justify-center">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="Logo de Microsoft" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                  <img src="./images/tecnologies/csharp.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="C-Sharp" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0 items-center justify-center">
                  <img src="./images/tecnologies/nuget.svg" class="h-9 w-auto m-auto" loading="lazy" alt="Nuget" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/vscode.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="VSCode" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                    <img src="./images/tecnologies/rabbitmq.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="RabbitMQ" width="" height="" />
                </div>                
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0 flex justify-center items-center">
                  <img src="./images/tecnologies/mongo.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="Mongo" width="" height="" />
              </div>
            </div> 
        </div>
  </Container>
</div>
